h1 img {
    vertical-align: top;
    width: 1.2em;
}

.sidebar-logo {
    width: 80%;
}

.mermaid {
    text-align: center;
}

#pyfingerd-pyfingerd-version .toctree-wrapper > ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
    gap: .5em 1em;
}

#pyfingerd-pyfingerd-version .toctree-wrapper > ul > li {
    display: inline-block;
    flex: 1 0 20em;
}
